<?xml version="1.0"?>
<config>
  <modules>
    <Rizn_Ubb>
      <version>1.1.0</version>
    </Rizn_Ubb>
  </modules>
  <global>
    <models>
      <ubb>
        <class>Rizn_Ubb_Model</class>
      </ubb>
    </models>
    <helpers>
      <ubb>
        <class>Rizn_Ubb_Helper</class>
      </ubb>
    </helpers>
    <blocks>
      <ubb>
        <class>Rizn_Ubb_Block</class>
      </ubb>
    </blocks>
  </global>
  <default>
    <payment>
      <ubb>
        <model>ubb/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Ubb</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </ubb>
    </payment>
  </default>
  <frontend>
    <routers>
      <ubb>
        <use>standard</use>
        <args>
          <module>Rizn_Ubb</module>
          <frontName>Ubb</frontName>
        </args>
      </ubb>
    </routers>
  </frontend>
  <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rizn_ubb before="Mage_Adminhtml">Rizn_Ubb_Adminhtml</rizn_ubb>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  <adminhtml>
      <layout>
          <updates>
              <dashboard>
                  <file>rizn/ubb.xml</file>
              </dashboard>
          </updates>
      </layout>
    <translate>
        <modules>
            <Rizn_Ubb>
                <files>
                    <default>Rizn_Ubb.csv</default>
                </files>
            </Rizn_Ubb>
        </modules>
    </translate>
  </adminhtml>
</config>
